<article class="dashboard">
  <header>
    <h2>Dashboard</h2>
  </header>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 row-cols-xl3-6 g-3 mb-3">

    <div class="col">
      <div class="card h-100 text-center">
        <div class="card-body">
          <%= link_to image_tag('soc.svg', alt: 'SoCs', class: 'img-fluid'), admin_socs_path %>
        </div>
        <div class="card-header">
          <%= link_to 'SoCs', admin_socs_path %>
        </div>
      </div>
    </div>
  </div>
</article>
