<div class="alert alert-primary">
  <div class="row g-2">
    <div class="col-auto text-center text-md-end">
      <i class="bi bi-coin me-3" style="font-size: 2.5em"></i>
    </div>
    <div class="col-auto">
      <h4><%= t('.title') %></h4>
      <p class="mb-0"><a href="/support-open-source"><%= t('.please_support') %></a>.</p>
    </div>
  </div>
</div>
