<div class="alert alert-primary mt-4">
  <div class="row">
    <div class="col-md-6 text-md-end mb-3 mb-md-0">
      <p class="mb-0"><a href="https://opencollective.com/openipc"><img
        class="img-fluid"
        src="https://opencollective.com/webpack/donate/button.png?color=blue"
        alt="图片： OpenCollective的捐赠按钮" title="捐赠给我们的集体"></a>
      </p>
    </div>
    <div class="col-md-6">
      <h4>你喜欢我们的工作吗？</h4>
      <p class="mb-0">请考虑<a href="/support-open-source">支持我们的项目</a>。</p>
    </div>
  </div>
</div>
