<article class="about">
  <header>
    <h2>About OpenIPC</h2>
  </header>

  <div class="alert alert-primary">
    <div class="row">
      <div class="col-md-6 text-md-end mb-3 mb-md-0">
        <p class="mb-0"><a href="https://opencollective.com/openipc"><img
          class="img-fluid"
          src="https://opencollective.com/webpack/donate/button.png?color=blue"
          alt="Image: OpenCollective donation button" title="Donate to our collective"></a>
        </p>
      </div>
      <div class="col-md-6">
        <h4>Do you like what we do?</h4>
        <p class="mb-0">Please consider <a href="/support-open-source">supporting our projects</a>.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-8">
      <h3>Projects</h3>
      <dl>
        <dt><a href="https://github.com/OpenIPC/firmware">Firmware</a></dt>
        <dd>The Holy Grail of the community. Universal firmware for IP-cameras to replace proprietary, outdated and
          often insecure vendor pre-installed firmware.
        </dd>
        <dt><a href="https://github.com/OpenIPC/majestic">Majestic</a></dt>
        <dd>A universal IP-camera streamer. This project is the major part of the OpenIPC Firmware. Although it is not
          fully open source at this stage of development, we are considering opening up the codebase when the project
          matures enough and gets enough funding for open development.
        </dd>
        <dt><a href="https://github.com/OpenIPC/ipctool">IPC tool</a></dt>
        <dd>An IP-camera hardware inspector on steroids. This tool will not only identify your camera's processor,
          sensor, flash chip, but also help you with backing up the original firmware and more.
        </dd>
        <dt><a href="https://github.com/OpenIPC/coupler">Coupler</a></dt>
        <dd>A tool that allows you a smooth transition from the IP-camera manufacturer's pre-installed proprietary
          firmware to OpenIPC Firmware. No special skills are required.
        </dd>
        <dt><a href="https://github.com/OpenIPC/smolrtsp">SmolRTSP</a></dt>
        <dd>A simple RTSP 1.0 server library tailored for embedded devices, such as IP cameras. It supports both TCP and
          UDP, allows any payload format, and provides a convenient and flexible API.
        </dd>
        <dt><a href="https://github.com/OpenIPC/mini">Mini</a></dt>
        <dd>An open source IP-camera streamer. Think of it as Majestic's little brother.</dd>
        <dt><a href="https://team.openipc.org/exipcam">ExIPCam</a></dt>
        <dd>XM Device Explorer. Utility for repairing IPCam (Russian UI. Runs on Windows, Linux via Wine)</dd>
        <dt><a href="https://team.openipc.org/ipcam_dms">IPCam DMS</a></dt>
        <dd>IPCam Device Management System (Russian UI. Runs on Windows, Linux via Wine)</dd>
      </dl>
    </div>
    <div class="col-lg-4">
      <h3>Telegram Channels</h3>
      <dl>
        <dt><a href="https://t.me/OpenIPC">OpenIPC (EN)</a></dt>
        <dd>International channel about OpenIPC. (English)</dd>
        <dt><a href="https://t.me/openipc_modding">OpenIPC users (RU)</a></dt>
        <dd>Channel about OpenIPC for Russian-speaking users. (Russian)</dd>
        <dt><a href="https://t.me/openipc_software">OpenIPC development (RU)</a></dt>
        <dd>Channel for OpenIPC developers. (Mostly Russian)</dd>
        <dt><a href="https://t.me/joinchat/YgHc5Bg4NOoxOTdi">Majestic Tests (RU)</a></dt>
        <dd>Telegram group for Majestic streamer testers. (Mostly Russian)</dd>
        <dt><a href="https://t.me/ExIPCam">ExIPCam users + repair</a></dt>
        <dd>Discussion of the ExIPCam program and hardware/software repairing devices. (Russian)</dd>
        <dt><a href="https://t.me/openipc_demo">OpenIPC demo</a></dt>
        <dd>Experimental Telegram Bot. (After connecting, send "/menu")</dd>
        <dt><a href="https://paywall.pw/openipc">OpenIPC paywall</a></dt>
        <dd>Paid technical support group.</dd>
        <dt><a href="https://t.me/joinchat/T_GwQUBTJdfXJrFb">OpenIPC Iranian</a></dt>
        <dd>تیم OpenIPC برای کاربران ایرانی (Telegram group for Iranian OpenIPC users). (Persian)</dd>
        <dt><a href="https://t.me/s/openipc_dev">OpenIPC dev</a></dt>
        <dd>GitHub notifications on the latest Firmware & Software.</dd>
      </dl>
    </div>
    <div class="col-12">
      <h3>Team</h3>
      <p>OpenIPC is a community-driven open source project, and many people contribute to its codebase. Koodos to them!
        There is also a core team of skilled developers who work hard to expand the list of supported hardware
        platforms, extend the functionality and stability of the firmware, review submitted code, and coordinate
        community efforts. Get to know the team and their areas of expertise:</p>
      <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-4 mb-4">
        <div class="col">
          <div class="card h-100 mb-3">
            <img src="https://avatars.githubusercontent.com/u/88846" alt="Image: avatar" class="card-img-top" title="FlyRouter">
            <div class="card-body">
              <h5 class="card-title">FlyRouter</h5>
              <div class="social small mb-3">
                <a href="https://github.com/ZigFisher/" class="github">@ZigFisher</a>
                <a href="https://t.me/FlyRouter" class="telegram">@FlyRouter</a>
              </div>
              <p class="card-text">Project Coordination</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 mb-3">
            <img src="https://avatars.githubusercontent.com/u/6576495" alt="Image: avatar" class="card-img-top" title="widgetii">
            <div class="card-body">
              <h5 class="card-title">widgetii</h5>
              <div class="social small mb-3">
                <a href="https://github.com/widgetii/" class="github">@widgetii</a>
                <a href="https://t.me/widgetii" class="telegram">@widgetii</a>
              </div>
              <p class="card-text">Majestic Streamer, IPCtool</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 mb-3">
            <img src="https://avatars.githubusercontent.com/u/106577375" alt="Image: avatar" class="card-img-top" title="dimerrr">
            <div class="card-body">
              <h5 class="card-title">dimerrr</h5>
              <div class="social small mb-3">
                <a href="https://github.com/dimerrr/" class="github">@dimerrr</a>
                <a href="https://t.me/dimerrr" class="telegram">@dimerrr</a>
              </div>
              <p class="card-text">U-Boot, Kernels, Coupler, IPCtool</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 mb-3">
            <img src="https://avatars.githubusercontent.com/u/21039610" alt="Image: avatar" class="card-img-top" title="John">
            <div class="card-body">
              <h5 class="card-title">John</h5>
              <div class="social small mb-3">
                <a href="https://github.com/p0i5k/" class="github">@p0i5k</a>
                <a href="https://t.me/p0i5k" class="telegram">@p0i5k</a>
              </div>
              <p class="card-text">Linux</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 mb-3">
            <img src="https://avatars.githubusercontent.com/u/40539574" alt="Image: avatar" class="card-img-top" title="Hirrolot">
            <div class="card-body">
              <h5 class="card-title">Hirrolot</h5>
              <div class="social small mb-3">
                <a href="https://github.com/Hirrolot/" class="github">@Hirrolot</a>
                <a href="https://t.me/hirrolot" class="telegram">@hirrolot</a>
              </div>
              <p class="card-text">SmolRTSP</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 mb-3">
            <img src="https://avatars.githubusercontent.com/u/2557102" alt="Image: avatar" class="card-img-top" title="cronyx">
            <div class="card-body">
              <h5 class="card-title">cronyx</h5>
              <div class="social small mb-3">
                <a href="https://github.com/cronyx/" class="github">@cronyx</a>
                <a href="https://t.me/cronyx" class="telegram">@cronyx</a>
              </div>
              <p class="card-text">Linux</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 mb-3">
            <img src="https://avatars.githubusercontent.com/u/37488" alt="Image: avatar" class="card-img-top" title="themactep">
            <div class="card-body">
              <h5 class="card-title">themactep</h5>
              <div class="social small mb-3">
                <a href="https://github.com/themactep/" class="github">@themactep</a>
                <a href="https://t.me/themactep" class="telegram">@themactep</a>
              </div>
              <p class="card-text">Web UI</p>
            </div>
          </div>
        </div>

      </div>
      <p><a href="https://github.com/orgs/OpenIPC/people" class="btn btn-secondary">List of contributors</a></p>
    </div>
  </div>
</article>
