<article class="greenlife">
  <header>
    <h2><%= t('.title') %></h2>
  </header>

  <div class="row row-cols-md-2 row-cols-xl-3 g-3">
    <div class="col">
      <p>OpenIPC contributes to sustainability by primarily providing open-source firmware for IP cameras, directly
        engaging in the efficient use and repurposing of existing hardware.</p>
      <p>By extending the lifespan of cameras through customizable firmware updates and features, OpenIPC reduces
        electronic waste.</p>
      <p>This aligns with sustainability goals by promoting the reuse and repurposing of technology, minimizing the
        environmental impact associated with the production and disposal of electronic devices.</p>
      <p>Additionally, OpenIPC's commitment to transparency and community-driven development fosters a collaborative
        approach to technology, encouraging users to actively engage and contribute to the project's growth and
        sustainability.</p>
    </div>
  </div>
</article>
