<article class="greenlife">
  <header>
    <h2><%= t('.title') %></h2>
  </header>

  <div class="row row-cols-1 row-cols-lg-2 g-3">
    <div class="col">
      <p>OpenIPC trägt zur Nachhaltigkeit bei, indem es in erster Linie offene Firmware für IP-Kameras bereitstellt und so direkt zur effizienten Nutzung und Wiederverwendung vorhandener Hardware beiträgt.</p>
      <p>Indem OpenIPC die Lebensdauer von Kameras durch anpassbare Firmware-Updates und Funktionen verlängert, reduziert es den Elektroschrott.</p>
      <p>Dies steht im Einklang mit den Nachhaltigkeitszielen, da die Wiederverwendung und Wiederverwertung von Technologien gefördert und die mit der Herstellung und Entsorgung von elektronischen Geräten verbundenen Umweltauswirkungen minimiert werden.</p>
      <p>Darüber hinaus fördert das Engagement von OpenIPC für Transparenz und gemeinschaftsgetriebene Entwicklung einen gemeinschaftlichen Technologieansatz, der die Benutzer dazu ermutigt, sich aktiv zu beteiligen und zum Wachstum und zur Nachhaltigkeit des Projekts beizutragen.</p>
    </div>
    <div class="col">
      <%= image_tag 'green_life_cams.webp', class: 'img-fluid', alt: "Image: Green Life Cameras" %>
    </div>
  </div>
</article>
