<article class="greenlife">
  <header>
    <h2><%= t('.title') %></h2>
  </header>

  <div class="row row-cols-md-2 g-3">
    <div class="col">
      <p>OpenIPC 主要为 IP 摄像机提供开放式固件，直接参与现有硬件的有效利用和再利用，从而为可持续发展做出贡献。</p>
      <p>通过可定制的固件更新和功能，OpenIPC 延长了摄像机的使用寿命，减少了电子垃圾。</p>
      <p>这符合可持续发展的目标，即促进技术的再利用和再利用，最大限度地减少与电子设备的生产和处置相关的环境影响。</p>
      <p>此外，OpenIPC 对透明度和社区驱动开发的承诺促进了技术合作，鼓励用户积极参与并为项目的发展和可持续发展做出贡献。</p>
    </div>
    <div class="col">
      <%= image_tag 'green_life_cams.webp', class: 'img-fluid', alt: "Image: Green Life Cameras" %>
    </div>
  </div>
</article>
