<article class="calculator">
  <header>
    <h2>High-Resolution Timer</h2>
  </header>

  <div class="text-center" style="font-size: 10vw" id="time">000000</div>

  <p>Time shown in milliseconds. Reload page to reset the counter</p>
</article>

<script>
    const t = $('#time');
    function updateTime() {
        t.textContent = Math.ceil(performance.now());
    }
    let x = setInterval(updateTime, 1);
</script>
