<article class="introduction">
  <header>
    <h2><%= t('.title') %></h2>
  </header>

  <div class="row g-5">
    <div class="col-lg-8 col-xl-8 col-xxl-9 mb-3">
      <h3 class="mb-4">OpenIPC ist eine alternative offene Firmware für Ihre IP-Kamera.</h3>
      <p>OpenIPC ist ein Open-Source-Betriebssystem, das auf IP-Kameras mit ARM- und MIPS-Prozessoren verschiedener
        Hersteller abzielt, um die geschlossene, undurchsichtige, unsichere, oft aufgegebene und nicht unterstützte
        Firmware zu ersetzen, die von einem Hersteller vorinstalliert ist.</p>
      <p>Die OpenIPC-Firmware wird als vorkompilierte Binärdateien zur einfachen Installation durch den Endbenutzer
        geliefert. Wir bieten auch vollen Zugang zu den Quelldateien für die weitere Entwicklung und Verbesserung durch
        jeden fähigen Programmierer, der bereit ist, zu dem Projekt beizutragen. Der Quellcode von OpenIPC wird unter
        einer der einfachsten Open-Source-Lizenzvereinbarungen, der
        <a href="https://opensource.org/licenses/MIT">MIT-Lizenz</a>, veröffentlicht, die dem Benutzer die ausdrückliche
        Erlaubnis gibt, den Code für jeden Zweck wiederzuverwenden, sogar als Teil einer proprietären Software. Wir
        bitten nur höflich darum, dass Sie Ihre Verbesserungen an uns zurückgeben. Wir sind für jede Rückmeldung und
        jeden Vorschlag dankbar.</p>
      <p class="text-center">
        <a href="https://github.com/OpenIPC/wiki/blob/master/en/installation.md" class="btn btn-danger btn-lg my-4">Einbauanleitung</a>
        <a href="/supported-hardware" class="btn btn-primary btn-lg my-4">Vorkompilierte Binärdateien</a>
        <a href="https://github.com/OpenIPC" class="btn btn-primary btn-lg my-4">Quellcode auf GitHub</a>
      </p>
      <p>OpenIPC Firmware verwendet <a href="https://buildroot.org/">Buildroot</a>, um seine Linux-Distro zu erstellen,
        und nutzt entweder <a href="https://github.com/OpenIPC/majestic">Majestic</a>,
        <a href="https://github.com/OpenIPC/divinus">Divinus</a>,
        <a href="https://github.com/OpenIPC/mini">Mini</a> oder
        <a href="https://github.com/OpenIPC/silicon_research">Venc</a>.
      <p class="small text-muted">Der Majestic-Code ist zwar nicht offen, bietet aber eine beispiellose Leistung und
        Fähigkeiten für eine breite Palette von Hardware. Der Autor des Majestic-Streamers prüft die Möglichkeit, die
        Codebasis als Open-Source zu veröffentlichen, nachdem er genügend Geldmittel für die weitere offene Entwicklung
        gesammelt hat. <a href="/support-open-source">Sie können dazu beitragen, dass dies früher geschieht.</a></p>

      <h3 class="mb-4">Warum OpenIPC-Firmware?</h3>
      <p>Die OpenIPC-Firmware bringt Ihnen vor allem eines: Freiheit. Mit OpenIPC auf Ihrer Kamera sind Sie der Herr
        über Ihre Streams. Sie haben vollen Zugriff auf das System und können steuern, was, wo und wie sich Ihre Kamera
        verhalten soll. Es gibt keine Hintertüren, keine Botnets, keine Krypto-Mining-Malware, keine Keylogger, keine
        Passwort-Sniffer, nichts, was man von einem geschlossenen Binärsystem ohne Zugriff auf den Quellcode erwarten
        könnte.</p>
      <p>Was die Firmware-Funktionen anbelangt, so bemühen wir uns um eine universelle Unterstützung für eine breite
        Palette von Kameras. Daher konzentrieren wir uns zunächst auf die grundlegenden Funktionen, die es den
        Endbenutzern ermöglichen, die Firmware ihrer Kameras zu aktualisieren und Video- und Audiostreams (sofern
        unterstützt) ohne allzu große Schwierigkeiten durchzuführen.</p>
      <p>Wir haben jedoch einige interessante Bits. Unsere Firmware unterstützt externen IPEYE-Cloud-Speicher,
        Videostreaming zu Youtube und Telegram, die Verwendung von SOCKS5-Proxy, das Einrichten eines virtuellen Tunnels
        und vieles mehr.</p>
      <p>Es gibt auch mehrere Projekte, die sich auf spezielle Ausrüstungen konzentrieren, wie z. B. eine Kamera, die
        auf eine Drohne montiert wird, für die Montage auf Bauhelmen, für den Einsatz in Vermessungsinstrumenten, für
        die medizinische Erforschung der Sehorgane, die Unterwasserfischerei usw.</p>
    </div>
    <div class="col-lg-4 col-xl-4 col-xxl-3">
      <h3 class="mb-3">Bündnis</h3>
      <div class="row row-cols-2 g-3">
        <div class="col">
          <a href="https://github.com/OpenIPC"><img src="/assets/openipc-community.svg" class="img-fluid" alt="Image: OpenIPC Community logo"></a>
        </div>
        <div class="col">
          <a href="https://github.com/OpenIPC/majestic"><img src="/assets/majestic-logo2.svg" class="img-fluid" data-link="https://majestic.cam/" alt="Image: Majestic streamer logo"></a>
        </div>
      </div>

      <h4 class="mt-4 mb-3">Unterstützer</h4>
      <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-2 g-3">
        <div class="col logo">
          <a href="https://www.oscollective.org/"><img src="/assets/partners/osc_mini.png" alt="OSC logo" class="img-fluid"></a>
        </div>
        <div class="col logo">
          <a href="https://www.goodcam.io/"><img src="/assets/partners/goodcam_mini.png" alt="GOODCAM logo" class="img-fluid"></a>
        </div>
        <div class="col logo">
          <a href="https://linux-chenxing.org/"><img src="/assets/partners/linuxchenxing_mini.png" alt="LINUXCHENXING logo" class="img-fluid"></a>
        </div>
        <div class="col logo">
          <a href="https://anycam.io/"><img src="/assets/partners/anycam_mini.png" alt="ANYCAM logo" class="img-fluid"></a>
        </div>
      </div>
    </div>
  </div>
</article>
