<article class="merchandise">
  <header>
    <h2><%= t('.title') %></h2>
  </header>

  <div class="row row-cols-md-2 row-cols-xl-3 g-3">
    <div class="col">
      <div class="card">
        <%= image_tag 'OpenIPC-t-shirt-flo-blue.webp',
                      alt: "Image: Model in an OpenIPC T-Shirt",
                      title: "OpenIPC Official T-shirt in Florida Blue and White",
                      class: 'card-image' %>
        <div class="card-body">
          <h2 class="card-title">OpenIPC T-Shirt</h2>
          <p>High quality Gildan Hammer™ 6 oz. crew neck classic fit T-shirt in Flo Blue.
            100% combed ring spun cotton, pre-shrunk, with logo in white heat-transfer vinyl.</p>
          <a href="https://weededwords.com/product/openipc-t-shirt/">Order from WeededWords.com</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <%= image_tag 'OpenIPC-t-shirt-flo-blue.webp',
                      alt: "Image: Model in an OpenIPC T-Shirt",
                      title: "OpenIPC Official T-shirt in Florida Blue and White",
                      class: 'card-image' %>
        <div class="card-body">
          <h2 class="card-title">OpenIPC T-Shirt</h2>
          <p>High quality Gildan Hammer™ 6 oz. crew neck classic fit T-shirt in Flo Blue.
            100% combed ring spun cotton, pre-shrunk, with logo in white heat-transfer vinyl.</p>
          <a href="https://weededwords.com/product/openipc-t-shirt/">Order from WeededWords.com</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <%= image_tag 'OpenIPC-t-shirt-flo-blue.webp',
                      alt: "Image: Model in an OpenIPC T-Shirt",
                      title: "OpenIPC Official T-shirt in Florida Blue and White",
                      class: 'card-image' %>
        <div class="card-body">
          <h2 class="card-title">OpenIPC T-Shirt</h2>
          <p>High quality Gildan Hammer™ 6 oz. crew neck classic fit T-shirt in Flo Blue.
            100% combed ring spun cotton, pre-shrunk, with logo in white heat-transfer vinyl.</p>
          <a href="https://weededwords.com/product/openipc-t-shirt/">Order from WeededWords.com</a>
        </div>
      </div>
    </div>
  </div>
</article>
