<article class="about">
  <header>
    <h2>Our Team</h2>
  </header>

  <p>OpenIPC is a community-driven open source project, and many people contribute to its codebase. Koodos to them!
    There is also a core team of skilled developers who work hard to expand the list of
    <a href="/supported-hardware">supported hardware platforms</a>, extend the functionality and stability of the
    firmware, review submitted code, and coordinate community efforts. Get to know the team and their areas of
    expertise:</p>

  <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-4 mb-4">
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/88846" alt="Image: avatar" class="card-img-top" title="FlyRouter">
        <div class="card-body">
          <h5 class="card-title">FlyRouter</h5>
          <p class="card-text small">Project Coordination, Documentation</p>
          <div class="social">
            <a href="https://github.com/ZigFisher/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@ZigFisher"></a>
            <a href="https://t.me/FlyRouter" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@FlyRouter"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/6576495" alt="Image: avatar" class="card-img-top" title="widgetii">
        <div class="card-body">
          <h5 class="card-title">widgetii</h5>
          <p class="card-text small">Majestic Streamer, IPCtool</p>
          <div class="social">
            <a href="https://github.com/widgetii/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@widgetii"></a>
            <a href="https://t.me/widgetii" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@widgetii"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/106577375" alt="Image: avatar" class="card-img-top" title="dimerrr">
        <div class="card-body">
          <h5 class="card-title">dimerrr</h5>
          <p class="card-text small">U-Boot, Kernels, Coupler, IPCtool</p>
          <div class="social">
            <a href="https://github.com/dimerrr/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@dimerrr"></a>
            <a href="https://t.me/dimerrr" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@dimerrr"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/21039610" alt="Image: avatar" class="card-img-top" title="John">
        <div class="card-body">
          <h5 class="card-title">John</h5>
          <p class="card-text small">Linux</p>
          <div class="social">
            <a href="https://github.com/p0i5k/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@p0i5k"></a>
            <a href="https://t.me/p0i5k" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@p0i5k"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/40539574" alt="Image: avatar" class="card-img-top" title="Hirrolot">
        <div class="card-body">
          <h5 class="card-title">Hirrolot</h5>
          <p class="card-text small">SmolRTSP</p>
          <div class="social">
            <a href="https://github.com/Hirrolot/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@Hirrolot"></a>
            <a href="https://t.me/hirrolot" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@hirrolot"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/2557102" alt="Image: avatar" class="card-img-top" title="cronyx">
        <div class="card-body">
          <h5 class="card-title">cronyx</h5>
          <p class="card-text small">Linux</p>
          <div class="social">
            <a href="https://github.com/cronyx/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@cronyx"></a>
            <a href="https://t.me/cronyx" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@cronyx"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/436625" alt="Image: avatar" class="card-img-top" title="chertov">
        <div class="card-body">
          <h5 class="card-title">chertov</h5>
          <p class="card-text small">Mini Streamer</p>
          <div class="social">
            <a href="https://github.com/chertov/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@chertov"></a>
            <a href="https://t.me/mAX3773" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@mAX3773"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/2909755" alt="Image: avatar" class="card-img-top" title="SSharshunov">
        <div class="card-body">
          <h5 class="card-title">SSharshunov</h5>
          <p class="card-text small">The ex researcher</p>
          <div class="social">
            <a href="https://github.com/SSharshunov/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@SSharshunov"></a>
            <a href="https://t.me/USSSSSH" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@USSSSSH"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/37488" alt="Image: avatar" class="card-img-top" title="themactep">
        <div class="card-body">
          <h5 class="card-title">themactep</h5>
          <p class="card-text small">Web UI, Documentation</p>
          <div class="social">
            <a href="https://github.com/themactep/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@themactep"></a>
            <a href="https://t.me/themactep" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@themactep"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p class="my-4 text-center"><a href="https://github.com/orgs/OpenIPC/people" class="btn btn-secondary">List of all GitHub contributors</a></p>

  <%= render "pages/opencollective" %>
</article>
