<article class="about">
  <header>
    <h2>Our Projects</h2>
  </header>

  <h3><a href="https://github.com/OpenIPC/firmware">Firmware</a></h3>
  <p>The Holy Grail of the community. Universal firmware for IP-cameras to replace proprietary, outdated and often
    insecure vendor pre-installed firmware.</p>
  <h3><a href="https://github.com/OpenIPC/majestic">Majestic</a></h3>
  <p>A universal IP-camera streamer. This project is the major part of the OpenIPC Firmware. Although it is not fully
    open source at this stage of development, we are considering opening up the codebase when the project matures enough
    and gets enough funding for open development.</p>
  <h3><a href="https://github.com/OpenIPC/ipctool">IPC tool</a></h3>
  <p>An IP-camera hardware inspector on steroids. This tool will not only identify your camera's processor, sensor,
    flash chip, but also help you with backing up the original firmware and more.</p>
  <h3><a href="https://github.com/OpenIPC/coupler">Coupler</a></h3>
  <p>A tool that allows you a smooth transition from the IP-camera manufacturer's pre-installed proprietary firmware to
    OpenIPC Firmware. No special skills are required.</p>
  <h3><a href="https://github.com/OpenIPC/smolrtsp">SmolRTSP</a></h3>
  <p>A simple RTSP 1.0 server library tailored for embedded devices, such as IP cameras. It supports both TCP and UDP,
    allows any payload format, and provides a convenient and flexible API.</p>
  <h3><a href="https://github.com/OpenIPC/mini">Mini</a></h3>
  <p>An open source IP-camera streamer. Think of it as Majestic's little brother.</p>
  <!--
  <h3><a href="https://team.openipc.org/exipcam">ExIPCam</a></h3>
  <p>XM Device Explorer. Utility for repairing IPCam (Russian UI. Runs on Windows, Linux via Wine)</p>
  <h3><a href="https://team.openipc.org/ipcam_dms">IPCam DMS</a></h3>
  <p>IPCam Device Management System (Russian UI. Runs on Windows, Linux via Wine)</p>
  -->

  <%= render "pages/opencollective" %>
</article>
