<article class="about">
  <header>
    <h2>Our Telegram channels</h2>
  </header>

  <dl>
    <dt><a href="https://t.me/OpenIPC">OpenIPC (EN)</a></dt>
    <dd>International channel about OpenIPC.</dd>
    <dt><a href="https://t.me/openipc_modding">OpenIPC users (RU)</a></dt>
    <dd>Channel about OpenIPC for Russian-speaking users.</dd>
    <dt><a href="https://t.me/openipc_software">OpenIPC development (RU)</a></dt>
    <dd>Channel for OpenIPC developers.</dd>
    <dt><a href="https://t.me/joinchat/YgHc5Bg4NOoxOTdi">Majestic Tests (RU)</a></dt>
    <dd>Telegram group for Majestic streamer testers.</dd>
    <dt><a href="https://t.me/ExIPCam">ExIPCam users + repair</a></dt>
    <dd>Discussion of the ExIPCam program and hardware/software repairing devices.</dd>
    <dt><a href="https://t.me/openipc_demo">OpenIPC demo</a></dt>
    <dd>Experimental Telegram Bot. (After connecting, send "/menu")</dd>
    <dt><a href="https://paywall.pw/openipc">OpenIPC paywall</a></dt>
    <dd>Paid technical support group.</dd>
    <dt><a href="https://t.me/joinchat/T_GwQUBTJdfXJrFb">OpenIPC Iranian</a></dt>
    <dd>تیم OpenIPC برای کاربران ایرانی (Telegram group for Iranian OpenIPC users).</dd>
    <dt><a href="https://t.me/s/openipc_dev">OpenIPC dev</a></dt>
    <dd>GitHub notifications on the latest Firmware & Software.</dd>
  </dl>

  <%= render "pages/opencollective" %>
</article>
