<article class="about">
  <header>
    <h2><%= t('.title') %></h2>
  </header>

  <p><%= t('.paragraph1_html') %></p>

  <h2>IPC Core</h2>

  <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-4 mb-4">
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/68112357" alt="Image: avatar" class="card-img-top" title="FlyRouter">
        <div class="card-body">
          <h5 class="card-title">FlyRouter</h5>
          <p class="card-text small">Project Coordination, Documentation, Builder, Composer</p>
          <div class="social">
            <a href="https://github.com/FlyRouter/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@FlyRouter"></a>
            <a href="https://t.me/FlyRouter" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@FlyRouter"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/6576495" alt="Image: avatar" class="card-img-top" title="widgetii">
        <div class="card-body">
          <h5 class="card-title">widgetii</h5>
          <p class="card-text small">Majestic Streamer, IPCtool, Linux</p>
          <div class="social">
            <a href="https://github.com/widgetii/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@widgetii"></a>
            <a href="https://t.me/widgetii" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@widgetii"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/7954832" alt="Image: avatar" class="card-img-top" title="Dimerr">
        <div class="card-body">
          <h5 class="card-title">Dimerr</h5>
          <p class="card-text small">U-Boot, Kernels, Coupler, IPCtool</p>
          <div class="social">
            <a href="https://github.com/dimerr/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@dimerrr"></a>
            <a href="https://t.me/dimerrr" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@dimerrr"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/40539574" alt="Image: avatar" class="card-img-top" title="Hirrolot">
        <div class="card-body">
          <h5 class="card-title">Hirrolot</h5>
          <p class="card-text small">SmolRTSP</p>
          <div class="social">
            <a href="https://github.com/Hirrolot/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@Hirrolot"></a>
            <a href="https://t.me/hirrolot" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@hirrolot"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/2557102" alt="Image: avatar" class="card-img-top" title="cronyx">
        <div class="card-body">
          <h5 class="card-title">cronyx</h5>
          <p class="card-text small">Linux, Builder, Composer</p>
          <div class="social">
            <a href="https://github.com/cronyx/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@cronyx"></a>
            <a href="https://t.me/cronyx" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@cronyx"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/94921687" alt="Image: avatar" class="card-img-top" title="Ystinia">
        <div class="card-body">
          <h5 class="card-title">Ystinia</h5>
          <p class="card-text small">OpenCollective manager, Educational Directions in Europe, Documentation</p>
          <div class="social">
            <a href="https://github.com/Ystinia/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@Ystinia"></a>
            <a href="https://t.me/Ystinia5" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@Ystinia5"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/131543271" alt="Image: avatar" class="card-img-top" title="Alex">
        <div class="card-body">
          <h5 class="card-title">Alex</h5>
          <p class="card-text small">Research Directions in Europe, Documentation</p>
          <div class="social">
            <a href="https://github.com/ialexlog/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@ialexlog"></a>
            <a href="https://t.me/metsys1" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@metsys1"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/35473052" alt="Image: avatar" class="card-img-top" title="viktorxda">
        <div class="card-body">
          <h5 class="card-title">viktorxda</h5>
          <p class="card-text small">Experiments and development based on SigmaStar processors</p>
          <div class="social">
            <a href="https://github.com/viktorxda/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@viktorxda"></a>
            <a href="https://t.me/viktorxda" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@viktorxda"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/5235386" alt="Image: avatar" class="card-img-top" title="Maxim">
        <div class="card-body">
          <h5 class="card-title">Maxim</h5>
          <p class="card-text small">Hardware Development Engineer</p>
          <div class="social">
            <a href="https://github.com/fmg-magnus/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@fmg-magnus"></a>
            <a href="https://t.me/GMA_ipc" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@GMA_ipc"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/55500552" alt="Image: avatar" class="card-img-top" title="keyldev">
        <div class="card-body">
          <h5 class="card-title">keyldev</h5>
          <p class="card-text small">Software Engineer, Android and .NET Application Developer</p>
          <div class="social">
            <a href="https://github.com/keyldev/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@keyldev"></a>
            <a href="https://t.me/keyldev" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@keyldev"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/47976944" alt="Image: avatar" class="card-img-top" title="JimSmith">
        <div class="card-body">
          <h5 class="card-title">JimSmith</h5>
          <p class="card-text small">Linux, Builder</p>
          <div class="social">
            <a href="https://github.com/jimsmt/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@jimsmt"></a>
            <a href="https://t.me/@jsmth99" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@jsmth99"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/8108928" alt="Image: avatar" class="card-img-top" title="wberube">
        <div class="card-body">
          <h5 class="card-title">wberube</h5>
          <p class="card-text small">Divinus Streamer, utilities and libraries for OSD</p>
          <div class="social">
            <a href="https://github.com/wberube/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@wberube"></a>
            <a href="https://t.me/wberube" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@wberube"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/26750683" alt="Image: avatar" class="card-img-top" title="skilurius">
        <div class="card-body">
          <h5 class="card-title">skilurius</h5>
          <p class="card-text small">Linux, Firmware, WebUI and users support</p>
          <div class="social">
            <a href="https://github.com/skilurius/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@skilurius"></a>
            <a href="https://t.me/skilurius" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@skilurius"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/31137747" alt="Image: avatar" class="card-img-top" title="yarobash">
        <div class="card-body">
          <h5 class="card-title">yarobash</h5>
          <p class="card-text small">Development of WebUI multifunctional interface fancyweb-ng</p>
          <div class="social">
            <a href="https://github.com/yarobash/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@yarobash"></a>
            <a href="https://t.me/LaikaPanda" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@LaikaPanda"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/21039610" alt="Image: avatar" class="card-img-top" title="John">
        <div class="card-body">
          <h5 class="card-title">John</h5>
          <p class="card-text small">Linux, Coupler, Builder</p>
          <div class="social">
            <a href="https://github.com/p0i5k/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@p0i5k"></a>
            <a href="https://t.me/p0i5k" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@p0i5k"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/49194169" alt="Image: avatar" class="card-img-top" title="MEDIAN TRADING LIMITED">
        <div class="card-body">
          <h5 class="card-title">Median Trading Ltd.</h5>
          <p class="card-text small">Production and sale of OpenIPC equipment</p>
          <div class="social">
            <a href="https://github.com/ser177/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@ser177"></a>
            <a href="https://t.me/ser177" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@ser177"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/183216891" alt="Image: avatar" class="card-img-top" title="Vixand">
        <div class="card-body">
          <h5 class="card-title">Vixand</h5>
          <p class="card-text small">Distribution and promotion IPCam</p>
          <div class="social">
            <a href="https://github.com/vixand/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@vixand"></a>
            <a href="https://t.me/ktotud" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@ktotud"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/436625" alt="Image: avatar" class="card-img-top" title="chertov">
        <div class="card-body">
          <h5 class="card-title">chertov</h5>
          <p class="card-text small">Mini Streamer</p>
          <div class="social">
            <a href="https://github.com/chertov/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@chertov"></a>
            <a href="https://t.me/mAX3773" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@mAX3773"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/2909755" alt="Image: avatar" class="card-img-top" title="SSharshunov">
        <div class="card-body">
          <h5 class="card-title">SSharshunov</h5>
          <p class="card-text small">The ex researcher</p>
          <div class="social">
            <a href="https://github.com/SSharshunov/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@SSharshunov"></a>
            <a href="https://t.me/USSSSSH" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@USSSSSH"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/37488" alt="Image: avatar" class="card-img-top" title="themactep">
        <div class="card-body">
          <h5 class="card-title">themactep</h5>
          <p class="card-text small">Web UI, Documentation</p>
          <div class="social">
            <a href="https://github.com/themactep/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@themactep"></a>
            <a href="https://t.me/themactep" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@themactep"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2>URLLC and FPV</h2>

  <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-4 mb-4">
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/8301265" alt="Image: avatar" class="card-img-top" title="iHardRock">
        <div class="card-body">
          <h5 class="card-title">iHardRock</h5>
          <p class="card-text small">Venc, Vdec, FPV systems</p>
          <div class="social">
            <a href="https://github.com/iHardRock/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@iHardRock"></a>
            <a href="https://t.me/getdataflow" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@getdataflow"></a>
          </div>
        </div>
      </div>
    </div>
    <!-- div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/57532232" alt="Image: avatar" class="card-img-top" title="MarioFPV">
        <div class="card-body">
          <h5 class="card-title">MarioFPV</h5>
          <p class="card-text small">Media Partner, Contributor for configurator and vdec</p>
          <div class="social">
            <a href="https://github.com/MarioFPVdev/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@MarioFPVdev"></a>
            <a href="https://t.me/Mario_FPV" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@Mario_FPV"></a>
          </div>
        </div>
      </div>
    </div -->
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/148837522" alt="Image: avatar" class="card-img-top" title="KennyPlus">
        <div class="card-body">
          <h5 class="card-title">KennyPlus</h5>
          <p class="card-text small">Hardware Development Engineer, FPV Systems</p>
          <div class="social">
            <a href="https://github.com/KennyPlus/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@KennyPlus"></a>
            <a href="https://t.me/@kenny_plus" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@kenny_plus"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/97629810" alt="Image: avatar" class="card-img-top" title="TipoMan">
        <div class="card-body">
          <h5 class="card-title">TipoMan</h5>
          <p class="card-text small">Linux, Sensor Drivers, FPV Systems</p>
          <div class="social">
            <a href="https://github.com/tipoman9/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@tipoman9"></a>
            <a href="https://t.me/@tipoman" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@tipoman"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/161963520" alt="Image: avatar" class="card-img-top" title="Milos">
        <div class="card-body">
          <h5 class="card-title">Milos</h5>
          <p class="card-text small">Linux, Sensor Drivers, FPV Systems</p>
          <div class="social">
            <a href="https://github.com/Sakalva/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@Sakalva"></a>
            <a href="https://t.me/@Sakalva" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@Sakalva"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/6557185" alt="Image: avatar" class="card-img-top" title="Ihor">
        <div class="card-body">
          <h5 class="card-title">Ihor</h5>
          <p class="card-text small">Contributor for pixelpilot, devourer, wfb-ng, adaptive-link, docs, builder, firmware and other repos</p>
          <div class="social">
            <a href="https://github.com/vertexodessa/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@vertexodessa"></a>
            <a href="https://t.me/@i_am_ihor" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@i_am_ihor""></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/1970342" alt="Image: avatar" class="card-img-top" title="ViperZ28">
        <div class="card-body">
          <h5 class="card-title">ViperZ28</h5>
          <p class="card-text small">Contributor for openipc-configurator, fpv-presets, majestic-webui, wiki firmware and other repos</p>
          <div class="social">
            <a href="https://github.com/mikecarr/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@mikecarr"></a>
            <a href="https://t.me/@mikecarr" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@mikecarr"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/35317840" alt="Image: avatar" class="card-img-top" title="JohhnGoblin">
        <div class="card-body">
          <h5 class="card-title">JohhnGoblin</h5>
          <p class="card-text small">Contributor for sbc-groundstations, radxa_gs_webUI, configurator and other repos</p>
          <div class="social">
            <a href="https://github.com/JohnDGodwin/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@JohnDGodwin"></a>
            <a href="https://t.me/@JohhnGoblin" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@JohhnGoblin"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/10471035" alt="Image: avatar" class="card-img-top" title="CC">
        <div class="card-body">
          <h5 class="card-title">CC</h5>
          <p class="card-text small">Contributor for sbc-groundstations and other repos</p>
          <div class="social">
            <a href="https://github.com/zhouruixi/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@zhouruixi"></a>
            <a href="https://t.me/@zhouruixi" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@zhouruixi"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/1641119" alt="Image: avatar" class="card-img-top" title="Henk">
        <div class="card-body">
          <h5 class="card-title">Henk</h5>
          <p class="card-text small">Contributor for pixelpilot_rk, adaptive-link, msposd and other repos</p>
          <div class="social">
            <a href="https://github.com/henkwiedig/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@henkwiedig"></a>
            <a href="https://t.me/@derHenk1980" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@derHenk1980"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/33513057" alt="Image: avatar" class="card-img-top" title="Eduardo">
        <div class="card-body">
          <h5 class="card-title">Eduardo</h5>
          <p class="card-text small">Contributor for wiki and other repos</p>
          <div class="social">
            <a href="https://github.com/OneManChop/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@OneManChop"></a>
            <a href="https://t.me/@eddybr85" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@eddybr85"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/25986626" alt="Image: avatar" class="card-img-top" title="Wojciech">
        <div class="card-body">
          <h5 class="card-title">Wojciech</h5>
          <p class="card-text small">Contributor for docs, wiki and other repos</p>
          <div class="social">
            <a href="https://github.com/wkumik/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@wkumik"></a>
            <a href="https://t.me/@Wojciech_99" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@Wojciech_99"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/16814703" alt="Image: avatar" class="card-img-top" title="Joakim">
        <div class="card-body">
          <h5 class="card-title">Joakim</h5>
          <p class="card-text small">Contributor for steam-groundstations, firmware and other repos</p>
          <div class="social">
            <a href="https://github.com/snokvist/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@snokvist"></a>
            <a href="https://t.me/@snokvist" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@snokvist"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/181492598" alt="Image: avatar" class="card-img-top" title="Mike">
        <div class="card-body">
          <h5 class="card-title">Mike</h5>
          <p class="card-text small">Device tester and contributor to some repos</p>
          <div class="social">
            <a href="https://github.com/notsudogood/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@notsudogood"></a>
            <a href="https://t.me/@notsudogood" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@notsudogood"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 mb-3">
        <img src="https://avatars.githubusercontent.com/u/55742743" alt="Image: avatar" class="card-img-top" title="Greg">
        <div class="card-body">
          <h5 class="card-title">Greg</h5>
          <p class="card-text small">Contributor for adaptive-link, air_manager and other repos</p>
          <div class="social">
            <a href="https://github.com/sickgreg/" target="_blank"><img src="/assets/github.svg" alt="Image: GitHub logo" class="img-fluid" title="@sickgreg"></a>
            <a href="https://t.me/@sickgregFPV" target="_blank"><img src="/assets/telegram.svg" alt="Image: Telegram logo" class="img-fluid" title="@sickgregFPV"></a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <p class="my-4 text-center"><a href="https://github.com/orgs/OpenIPC/people" class="btn btn-secondary"><%= t('.contributors_link') %></a></p>
</article>
