<article class="about">
  <header>
    <h2><%= t('.title') %></h2>
  </header>

  <div class="row row-cols-1 row-cols-lg-2">
    <div class="col">
      <h3>FPV</h3>
      <p>TBD</p>
      <h3>VoIP/SIP</h3>
      <p>TBD</p>
      <h3>Firmware Builder</h3>
      <p>TBD</p>
    </div>
  </div>

  <%= render "pages/donate" %>
</article>
