<article class="hardware">
  <header>
    <h2>Stages of Firmware development</h2>
  </header>

  <div class="row">
    <div class="col-lg-8">
      <div class="alert alert-info">
        <h5>DONE</h5>
        <p class="mb-0">"Done and done!" Everything seems works just like in original firmware. Although, we are still
          looking for feedback from you, guys.</p>
      </div>
      <div class="alert alert-info">
        <h5>MVP</h5>
        <p class="mb-0">"Minimal Viable Product". Basic system is done (video works, at least on main channel),
          everything is clear (including hardware and software design), but due to lack of human resources we are
          looking for help from experienced embedded developers or sponsors to continue development and make it DONE
          somewhere in the future.</p>
      </div>
      <div class="alert alert-info">
        <h5>WIP</h5>
        <p class="mb-0">"Work In Progress". We are tinkering with hardware and code, and probably early adopters can
          tests first public binary builds on their boards, and help us to move further.</p>
      </div>
      <div class="alert alert-info">
        <h5>R&D</h5>
        <p class="mb-0">"Research & Development" stage, when we have platform SDK and probably hardware boards, but
          there is a lot of work ahead.</p>
      </div>
      <div class="alert alert-info">
        <h5>HLP</h5>
        <p class="mb-0">"Help needed". The hardware is already in our lab, and we are looking for experienced embedded
          developers or sponsors to start research & development.</p>
      </div>
      <div class="alert alert-info">
        <h5>NEQ</h5>
        <p class="mb-0">"No Equipment". We have SDK for the platform, but we don't have specific hardware to continue
          development, you can donate it to our RND guys (it's important for ancient boards which are in End-Of-Life
          state and there is no way to buy it on the market).</p>
      </div>
    </div>
    <div class="col-lg-4">
      <h3>Typical development lifecycle</h3>
      <p>After we acquire an SDK for a new SoC, we add the SoC to the table of supported hardware. We assign either NEQ
        (No Equipment) satus, if we do not have particlular hardware modules, or HLP (Help Needed) status, if we have
        the hardware but are looking for a developer who would lead the development for that SoC. This is considered an
        official start of development.</p>
      <p>There is no reason to have SoC in the table without having its SDK.</p>
      <p>As work on the SoC progresses, its status changes, gradually. First to RND, then to WIP, then further to MVP,
        and, finally, to DONE.</p>
    </div>
  </div>
</article>
