<article class="sponsors">
  <header>
    <h2>Support Open Source</h2>
  </header>


  <div class="row">
    <div class="col-md-3 mb-3">
      <img src="/assets/piggybank.jpg" alt="Image: ninja-sponsors" class="img-fluid">
    </div>
    <div class="col-md-9 mb-3">
      <h3>Become a Sponsor</h3>
      <p class="lead">Let's support open-source cameras together!</p>
      <p>OpenIPC is asking your to support our development, to help us to attract enough funds to cover our expenses and
        secure long-term maintenance of what we believe is going to be a stable, flexible and most importantly, open
        source Open IP Network Camera Framework, for all users worldwide.</p>
      <p>The funds are generally intended to compensate the work of part-time and full-time maintainers. Many core team
        members contribute their knowledge and spend their free time to work on projects codebase, and often use
        personal funds to purchase new cameras in order to extend the poll of supported hardware. Your donation could
        help us to ease the burden on their personal finances while keeping the development supplied with the most
        modern hardware.</p>
      <p>We also need funds to organize meetings and attend events with hardware manufacturers, to monitor trends in
        cameras ingeneering and to get access to SDK and other supporting materials which are often expensive.</p>
      <p>Your contribution will help us advance development forward, and interact with the community on a regular
        basis.</p>
      <p>In recognition of your recurring donations, you will be permanently added to the Backers/Sponsors section on
        our GitHub page!</p>
      <p>We are committed to open and transparent accounting, and are grateful for any support you're able to provide
        for our efforts, so that we could advance OpenIPC and our mission towards a sustainable future.</p>
      <p>If you have issues getting access or download files, feel free to contact us on
        our <a href="https://t.me/openipc">Telegram channel</a>.</p>

      <h3>Donations</h3>
      <p>If you like our work, please consider supporting us on
        <a href="https://opencollective.com/openipc/contribute/backer-14335/checkout">Open Collective</a></p>
      <p><a href="https://opencollective.com/openipc/contribute/backer-14335/checkout" target="_blank"><img
        src="https://opencollective.com/webpack/donate/button.png?color=blue" alt="Image: OpenCollective donate button"/></a>
      </p>
      <h4>Thanks you, it means a lot to us!</h4>
    </div>
  </div>
</article>
