<article class="sponsors">
  <header>
    <h2>Es ist Open Source</h2>
  </header>

  <div class="row">
    <div class="col-md-3 mb-3">
      <img src="/assets/ninja-sponsors.webp" alt="Image: Support Open Source" class="img-fluid mb-3">
      <p>Wenn Ihnen unsere Arbeit gefällt, unterstützen Sie uns bitte auf
        <a href="https://opencollective.com/openipc/contribute/backer-14335/checkout">Open Collective</a></p>
      <p><a href="https://opencollective.com/openipc">
        <%= image_tag '/files/donatetoopencollectivebutton.webp', size: 300, class: 'img-fluid',
                      alt: 'Image: OpenCollective donation button', title: 'Donate to our collective' %></a></p>
      <p class="small">Viele Mitglieder des Kernteams stellen ihr Wissen und ihre Freizeit zur Verfügung, um an dem
        Projekt zu arbeiten, und verwenden oft ihre persönlichen Mittel, um Kameras zu kaufen und die Liste der
        unterstützten Hardware zu erweitern. Ihre Spende hilft uns, ihre persönlichen Finanzen zu entlasten und die
        Entwicklung auf der neuesten Hardware zu halten. Wir verwenden die Gelder auch, um die Arbeit von Teilzeit- und
        Vollzeitbetreuern zu vergüten und um an Messen teilzunehmen, sich mit Hardware-Anbietern zu treffen, Trends in
        der Kameratechnologie zu beobachten und Zugang zu SDK und anderen Supportmaterialien zu erhalten, die oft teuer
        sind. Ihre Beiträge helfen uns, die Entwicklung fortzusetzen und der Community technischen Support zu
        bieten.</p>
    </div>
    <div class="col-md-6 mb-3">
      <h3>Preis der Firmware</h3>
      <p>Das Recht, die OpenIPC-Firmware und ihre Komponenten zu nutzen, wird allen Nutzern kostenlos und nur für
        persönliche, nicht-kommerzielle Zwecke gewährt. Wenn Sie daran interessiert sind, OpenIPC für Ihre
        Geschäftsprojekte zu nutzen, kontaktieren Sie bitte <a href="/our-team">unser Team</a>.</p>

      <h3>Beitragen</h3>
      <p>Bei Open Source geht es darum, zu teilen, gemeinsam etwas Großartiges zu schaffen und einen Beitrag zum
        Allgemeinwohl zu leisten! Wann immer Sie eine Verbesserung vornehmen, von der Sie denken, dass jemand anderes
        davon profitieren könnte, spenden Sie sie bitte an das Projekt zurück.</p>
      <p>Wenn Sie jemals neugierig oder verwirrt über etwas im Projekt waren, vor einem Problem standen und die Antwort
        nicht finden konnten, dann geht es wahrscheinlich auch jemand anderem so. Helfen Sie ihnen, indem Sie Ihre
        Gedanken, Erkenntnisse und Entdeckungen mit ihnen teilen. Es gibt viele Möglichkeiten, zum Projekt beizutragen,
        und hier sind einige Beispiele:</p>
      <dl>
        <dt>Probleme melden</dt>
        <dd>Wenn Sie auf einen Fehler stoßen, senden Sie bitte einen Fehlerbericht an
          <a href="https://github.com/OpenIPC/">das entsprechende Repository auf GitHub</a>.
        </dd>
        <dt>Neue Ideen einreichen</dt>
        <dd>Wenn Sie der Meinung sind, dass eine nützliche Funktion fehlt, können
          <a href="https://github.com/OpenIPC/firmware/issues">Sie eine Funktionsanfrage auf GitHub einreichen</a>.
        </dd>
        <dt>Verbessern Sie den Code</dt>
        <dd>Forken Sie den Code, nehmen Sie Ihre Verbesserungen vor und senden Sie einen Pull-Request an unser
          Repository auf GitHub.
        </dd>
        <dt>Dokumentation schreiben</dt>
        <dd>Erstellen oder aktualisieren Sie die Dokumentation für unsere Projekte. Füllen Sie
          <a href="http://wiki.openipc.org/">das Wiki</a> auf, lesen Sie die Website Korrektur, machen Sie sie in Ihrer
          Sprache verständlich.
        </dd>
        <dt>Verbreiten Sie das Wort</dt>
        <dd>Sprechen Sie über OpenIPC und teilen Sie Ihre Erfahrungen mit anderen. Schreiben Sie einen Blogbeitrag,
          drehen Sie ein Video, starten Sie einen Thread auf Reddit, teilen Sie es auf Twitter, posten Sie es in anderen
          sozialen Medien...
        </dd>
        <dt>Werden Sie ein Sponsor</dt>
        <dd>Unterstützen Sie unsere Entwicklung, helfen Sie uns, genügend Mittel aufzubringen, um unsere Ausgaben zu
          decken und die langfristige Wartung dessen zu gewährleisten, von dem wir glauben, dass es ein stabiles,
          flexibles und vor allem quelloffenes Open IP Network Camera Framework für alle Benutzer weltweit sein wird.
          Als Anerkennung für Ihre wiederkehrenden Spenden werden Sie dauerhaft in den Bereich Backers/Sponsors auf
          unserer GitHub-Seite aufgenommen.
        </dd>
      </dl>

      <p>Wir verpflichten uns zu einer offenen und transparenten Buchhaltung und sind dankbar für jede Unterstützung,
        die Sie unseren Bemühungen, OpenIPC und unsere Mission in Richtung einer nachhaltigen Zukunft voranzubringen,
        zukommen lassen können.</p>

      <h4>Vielen Dank, das bedeutet uns sehr viel!</h4>
    </div>

    <div class="col-md-3 mb-3">
      <h3 class="mb-3">Kryptowährung spenden</h3>

      <div class="row row-cols-1 g-2 mb-3">
        <div class="col">
          <div class="card">
            <div class="card-body bg-light">
              <%= image_tag 'icons/crypto-bitcoin.svg', size: 24, alt: 'Image: Bitcoin Logo',
                            title: '1Gu9xVdXKs5T9TTe2zJn4oSiJs4Dz9Vi6J',
                            class: 'float-end' %>
              <h5 class="card-title fw-bold">Bitcoin - BTC</h5>
              <p class="card-text">1Gu9xVdXKs5T9TTe2zJn4oSiJs4Dz9Vi6J</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body bg-light">
              <%= image_tag 'icons/crypto-tron.svg', size: 24, alt: 'Image: TRON Logo',
                            title: 'TDNf6HW54MA6JrmLWM85h3ewxZgvpSqSGN',
                            class: 'float-end' %>
              <h5 class="card-title fw-bold">TRON (TRC20) - USDT</h5>
              <p class="card-text">TDNf6HW54MA6JrmLWM85h3ewxZgvpSqSGN</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body bg-light">
              <%= image_tag 'icons/crypto-ton.svg', size: 24, alt: 'Image: TON Logo',
                            title: 'UQBw0ZTdMLqUozkt1gLhl7xQ57Qa_RCcjmD0leQEANGvBSLd',
                            class: 'float-end' %>
              <h5 class="card-title fw-bold">The Open Network - TON</h5>
              <p class="card-text">UQBw0ZTdMLqUozkt1gLhl7xQ57Qa_RCcjmD0leQEANGvBSLd</p>
            </div>
          </div>
        </div>
      </div>

      <p class="small text-muted">Mit der Kryptowährung TON können Spenden direkt innerhalb von Telegram über
        <a href="https://t.me/wallet">@wallet</a> getätigt werden.</p>
    </div>
  </div>
</article>
