<article class="sponsors">
  <header>
    <h2>它是开源的</h2>
  </header>

  <div class="row">
    <div class="col-md-3 mb-3">
      <img src="/assets/ninja-sponsors.webp" alt="图像： 支持开源" class="img-fluid mb-3">
      <p>如果您喜欢我们的项目，请考虑在<a href="https://opencollective.com/openipc/contribute/backer-14335/checkout">Open Collective</a>上支持我们。</p>
      <p><a href="https://opencollective.com/openipc/contribute/backer-14335/checkout"><img
          src="https://opencollective.com/webpack/donate/button.png?color=blue" alt="Image: OpenCollective donate button"></a></p>
      <p class="small">许多核心团队成员将他们的知识和空余时间奉献给这个项目，经常用他们的个人资金来购买摄像机，以便支持更多的硬件设备。您的捐款可以帮助我们减轻他们的个人经济负担，同时维持在最新的硬件平台上的继续该项目的开发。我们还用这些资金来补偿兼职和全职维护人员的工作，届时还会参加贸易展，与硬件供应商会面合作，了解网络摄像机技术的发展趋势，并获得SDK和其他技术文档，这些资料往往很昂贵。您的捐助可以帮助我们继续开发并为社区提供技术支持。</p>
    </div>
    <div class="col-md-9 mb-3">
      <h3>固件的价格</h3>
      <p>所有用户都可以免费使用OpenIPC固件及其组件，但仅限于个人、非商业目的。如果您有兴趣在您的商业项目中使用OpenIPC，请联系我们的团队。</p>

      <h3>贡献</h3>
      <p>开源是关于分享，一起创造伟大的事物，并为更大的利益做出贡献! 每当你做了一个你认为别人可以从中受益的改进，请把它贡献给项目。</p>
      <p>如果你曾经对项目中的某些东西感到好奇或困惑，面对一个问题而找不到答案，其他人可能也还在找。通过分享你的发现或想法来帮助他们。有很多方法可以为项目做出贡献，这里有几个例子：</p>
      <dl>
        <dt>报告问题</dt>
        <dd>如果您发现了一个错误，请在GitHub上<a href="https://github.com/OpenIPC/">对应的仓库</a>中提交一份错误报告。</dd>
        <dt>提交新的想法</dt>
        <dd>如果您觉得缺少一个有用的功能，您可以在GitHub上提交一个<a href="https://github.com/OpenIPC/firmware/issues">功能请求</a>。</dd>
        <dt>改进代码</dt>
        <dd>分叉代码，进行改进，并向我们在GitHub上的存储库提交拉动请求。</dd>
        <dt>编写文件</dt>
        <dd>为我们的项目创建或更新文档。完善Wiki，校对网站等。</dd>
        <dt>传播信息</dt>
        <dd>谈论OpenIPC并与他人分享你的经验。写一篇博文，制作一段视频，在Reddit上发起一个话题，在Twitter上分享，或在其他社交媒体上发布...</dd>
        <dt>成为赞助商</dt>
        <dd>支持我们的发展，帮助我们筹集足够的资金来支持我们，并确保长期维护我们的项目，我们相信OpenIPC将是一个稳定、灵活、开源的网络摄像机框架，为全球所有用户服务。为了表彰您的捐助，您将被永久地加入到我们GitHub页面的支持者/赞助者部分。</dd>
      </dl>

      <p>我们致力于共建一个开放和透明的数字环境，并由衷地感谢你对我们的努力提供的任何支持，以推动OpenIPC和我们的使命走向一个可持续的未来。</p>

      <h4>非常感谢，这对我们来说意义重大!</h4>
    </div>
  </div>
</article>
