<article class="sponsors">
  <header>
    <h2>It's Open Source</h2>
  </header>

  <div class="row">
    <div class="col-md-3 mb-3">
      <img src="/assets/ninja-sponsors.webp" alt="Image: Support Open Source" class="img-fluid mb-3">
      <p>If you like our work, please consider supporting us on
        <a href="https://opencollective.com/openipc/contribute/backer-14335/checkout">Open Collective</a></p>
      <p><a href="https://opencollective.com/openipc/contribute/backer-14335/checkout"><img
          src="https://opencollective.com/webpack/donate/button.png?color=blue" alt="Image: OpenCollective donate button"></a></p>
      <p class="small">Many core team members donate their knowledge and their free time to work on the project, often
        using their personal funds to buy cameras to expand the list of supported hardware. Your donation help us to
        ease the burden on their personal finances while keeping the development on the latest hardware. We also use the
        funds to compensate the work of part-time and full-time maintainers, and to attend trade shows, meet with
        hardware vendors, monitor trends in camera technology and gain access to SDK and other support materials, which
        are often expensive. Your contributions help us to continue development and provide technical support to the
        community.</p>
    </div>
    <div class="col-md-9 mb-3">
      <h3>Price of the Firmware</h3>
      <p>The right to use the OpenIPC firmware and its components is granted to all users free of charge and only for
        personal, non-commercial purposes. If you are interested in using OpenIPC for your business projects, please
        contact <a href="/our-team">our team</a>.</p>

      <h3>Contribute</h3>
      <p>Open Source is about sharing, creating something great together, and contributing to the greater good! Whenever
        you do make an improvement that you think someone else could benefit from, please contribute it back to the
        project.</p>
      <p>If you've ever been curious or confused about something in the project, faced a problem and couldn't find the
        answer, someone else probably still is, too. Help them by sharing your thoughts, insights and discoveries. There
        are many ways to contribute to the project, and here are a few examples:</p>
      <dl>
        <dt>Report issues</dt>
        <dd>If you stubmle upon an bug, please file a bug report in the
          <a href="https://github.com/OpenIPC/">appropriate repository on GitHub</a>.
        </dd>
        <dt>Submit new ideas</dt>
        <dd>If you feel that a useful feature is missing, you can submit a
          <a href="https://github.com/OpenIPC/firmware/issues">feature request on GitHub</a>.
        </dd>
        <dt>Improve the code</dt>
        <dd>Fork the code, make your improvements and submit a pull request to our repository on GitHub.</dd>
        <dt>Write documentation</dt>
        <dd>Create or update documentation for our projects. Fill up <a href="http://wiki.openipc.org/">the Wiki</a>,
          proofread the website, make it sound native to your language.
        </dd>
        <dt>Spread the word</dt>
        <dd>Talk about OpenIPC and share your experiences with others. Write a blog post, make a video, start a thread
          on Reddit, share it on Twitter, post it on other social media...
        </dd>
        <dt>Become a sponsor</dt>
        <dd>Support our development, help us to raise enough funds to cover our expenses and ensure long-term
          maintenance of what we believe will be a stable, flexible and most importantly, open source Open IP Network
          Camera Framework, for all users worldwide. In recognition of your recurring donations, you will be permanently
          added to the Backers/Sponsors section on our GitHub page.
        </dd>
      </dl>

      <p>We're committed to open and transparent accounting, and are grateful for any support you can provide to our
        efforts to advance OpenIPC and our mission toward a sustainable
        future.</p>

      <h4>Thank you, it means a lot to us!</h4>
    </div>
  </div>
</article>
