<article class="sponsors">
  <header>
    <h2>ПО с открытым исходным кодом</h2>
  </header>

  <div class="row">
    <div class="col-md-3 mb-3">
      <img src="/assets/ninja-sponsors.webp" alt="Изображение: ниндзя-спонсоры" class="img-fluid mb-3">
      <p class="small">Многие члены основной команды жертвуют свои знания и свободное время для работы над проектом, часто используя свои личные средства для покупки камер, чтобы расширить список поддерживаемого оборудования. Пожертвования помогают нам снизить нагрузку на их личные финансы, поддерживая разработку на новейшем оборудовании. Мы также используем собранные средства для компенсации работы техподдержки, на почтовые расходы, а также для посещения выставок, встреч с поставщиками оборудования, отслеживания тенденций в технологии камер и получения доступа к SDK и другим вспомогательным материалам, которые часто стоят дорого. Ваши взносы помогают нам продолжать разработку и оказывать техническую поддержку сообществу.</p>
    </div>
    <div class="col-md-6 mb-3">
      <h3>Стоимость</h3>
      <p>Право на использование прошивки OpenIPC и ее компонентов предоставляется всем пользователям бесплатно и только в личных, некоммерческих целях. Если вы заинтересованы в использовании OpenIPC для ваших бизнес-проектов, пожалуйста, <a href="/our-team">свяжитесь с нашей командой</a>.</p>
      <h3>Внесите свой вклад</h3>
      <p>Open Source - это совместное использование, совместное создание чего-то великого, это ваш вклад в общее благо! Всякий раз, когда вы делаете улучшение, которое, по вашему мнению, может быть полезно кому-то еще, пожалуйста, отправьте его обратно в проект.</p>
      <p>Если вам когда-либо было что-то непонятно в проекте, если вы сталкивались с проблемой и не могли быстро получить ответ, возможно, кто-то сейчас находится в такой же ситуации. Помогите им, поделитесь своими решениями, находками, мыслями. Существует множество способов внести свой вклад в проект, и вот несколько примеров:</p>
      <dl>
        <dt>Сообщите о проблеме</dt>
        <dd>Если вы наткнулись на ошибку, пожалуйста, отправьте сообщение о ней <a href="https://github.com/OpenIPC/">в соответствующий репозиторий на GitHub</a>.
        </dd>
        <dt>Предложите новую идею</dt>
        <dd>Если вы считаете, что в проекте отсутствует какая-то полезная функция, <a href="https://github.com/OpenIPC/firmware/issues">отправьте запрос на ее создание на GitHub</a>.
        </dd>
        <dt>Исправьте код</dt>
        <dd>Сделайте копию кода, внесите свои улучшения и отправьте pull request в наш репозиторий на GitHub.</dd>
        <dt>Напишите документацию</dt>
        <dd>Добавьте или исправьте документацию наших проектов. Наполните <a href="http://wiki.openipc.org/">Wiki</a>, переведите веб-сайт, сделайте его родным для вашего языка.</dd>
        <dt>Расскажите всем</dt>
        <dd>Расскажите об OpenIPC, поделитесь своим опытом с другими. Напишите статью в блоге, снимите видео, начните тему на Reddit, поделитесь ею в Twitter, разместите ее в других социальных сетях...</dd>
        <dt>Станьте спонсором</dt>
        <dd>Поддержите наше развитие, помогите нам собрать достаточно средств, чтобы покрыть расходы и обеспечить долгосрочное обслуживание того, что, по нашему мнению, будет стабильной, гибкой и, что самое главное, открытой платформой для сетевых IP-камер для всех пользователей по всему миру. В знак признания ваших регулярных пожертвований мы добавим ваше имя в раздел Backers/Sponsors на нашей странице GitHub.</dd>
      </dl>
      <p>Мы стремимся к открытому и прозрачному учету и благодарны за любую поддержку, которую вы можете оказать нашим усилиям по продвижению OpenIPC и нашей миссии к устойчивому будущему.</p>
      <h4>Спасибо, это много значит для нас!</h4>
    </div>

    <div class="col-md-3 mb-3">
      <h3 class="mb-3">Донаты в крипте</h3>
      <div class="row row-cols-1 g-2 mb-3">
        <div class="col">
          <div class="card">
            <div class="card-body bg-light">
              <%= image_tag 'icons/crypto-bitcoin.svg', size: 24, alt: 'Image: Bitcoin Logo', title: '1Gu9xVdXKs5T9TTe2zJn4oSiJs4Dz9Vi6J', class: 'float-end' %>
              <h5 class="card-title fw-bold">Bitcoin - BTC</h5>
              <p class="card-text">1Gu9xVdXKs5T9TTe2zJn4oSiJs4Dz9Vi6J</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body bg-light">
              <%= image_tag 'icons/crypto-tron.svg', size: 24, alt: 'Image: TRON Logo', title: 'TDNf6HW54MA6JrmLWM85h3ewxZgvpSqSGN', class: 'float-end' %>
              <h5 class="card-title fw-bold">TRON (TRC20) - USDT</h5>
              <p class="card-text">TDNf6HW54MA6JrmLWM85h3ewxZgvpSqSGN</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body bg-light">
              <%= image_tag 'icons/crypto-ton.svg', size: 24, alt: 'Image: TON Logo', title: 'UQBw0ZTdMLqUozkt1gLhl7xQ57Qa_RCcjmD0leQEANGvBSLd', class: 'float-end' %>
              <h5 class="card-title fw-bold">The Open Network - TON</h5>
              <p class="card-text">UQBw0ZTdMLqUozkt1gLhl7xQ57Qa_RCcjmD0leQEANGvBSLd</p>
            </div>
          </div>
        </div>
      </div>
      <p class="small text-muted">С помощью криптовалюты TON пожертвования можно делать прямо в Telegram, используя <a href="https://t.me/wallet">@wallet</a>.</p>
    </div>
  </div>
</article>
