<article class="tools">
  <header>
    <h2><%= t('.title') %></h2>
  </header>

  <p><%= t('.paragraph1') %></p>

  <dl>
    <dt>Ingenic Cloner v2.5.35</dt>
    <dd>
      <p>
        <a href="/dl/cloner-2.5.35-windows_alpha.zip">version for Windows</a> |
        <a href="/dl/cloner-2.5.35-ubuntu_alpha.tar.gz">version for Linux</a></p>
    </dd>
    <dt>HiSilicon PQTool v5.18.6</dt>
    <dd>
      <p><a href="/dl/HiPQTools_V5.18.6.zip">version for Windows</a></p>
    </dd>
    <dt>SigmaStarCam IQTool v2.01.114</dt>
    <dd>
      <p>
        <a href="/dl/SSCamIQTool-2.01.114.zip">version for Windows</a> |
        <a href="/dl/micross.ttf">font for running under Wine</a>
      </p>
      <p>Enable the iqserver on the camera: <code>cli -s .isp.iqServer true</code>.
        Start <code>SSCamIQTool.exe</code>, enter the camera IP address and click the connect button.</p>
    </dd>
    <dt>HiSilicon HiTool v4.0.18</dt>
    <dd>
      <p><a href="/dl/HiTool-BVT-4.0.18.zip">version for Windows</a></p>
    </dd>
    <dt>HiSilicon HiTool v5.0.61</dt>
    <dd>
      <p><a href="/dl/HiTool-BVT-5.0.61.zip">version for Windows</a></p>
    </dd>
    <dt>NeoProgrammer v2.2.0.10</dt>
    <dd>
      <p><a href="/dl/NeoProgrammer_2.2.0.10.zip">version for Windows</a></p>
    </dd>
    <dt>ToolPlatform v1.0.0</dt>
    <dd>
      <p><a href="/dl/ToolPlatform-1.0.0-win32-x86_64.zip">version for Windows</a></p>
    </dd>
  </dl>
</article>
