<article class="tools">
  <header>
    <h2><%= t('.title') %></h2>
  </header>

  <p><%= t('.paragraph1') %></p>

  <dl>
    <dt>Ingenic Cloner v2.5.35</dt>
    <dd>
      <p><a href="/dl/cloner-2.5.35-windows_alpha.zip">version for Windows</a> |
        <a href="/dl/cloner-2.5.35-ubuntu_alpha.tar.gz">version for Linux</a></p>
    </dd>
    <dt>HiSilicon PQTool v5.18.6</dt>
    <dd>
      <p><a href="/dl/HiPQTools_V5.18.6.zip">version for Windows</a></p>
    </dd>
    <dt>HiSilicon HiTool v4.0.18</dt>
    <dd>
      <p><a href="/dl/HiTool-BVT-4.0.18.zip">version for Windows</a></p>
    </dd>
    <dt>HiSilicon HiTool v5.0.61</dt>
    <dd>
      <p><a href="/dl/HiTool-BVT-5.0.61.zip">version for Windows</a></p>
    </dd>
    <dt>NeoProgrammer v2.2.0.10</dt>
    <dd>
      <p><a href="/dl/NeoProgrammer_2.2.0.10.zip">version for Windows</a></p>
    </dd>
    <dt>ToolPlatform v1.0.0</dt>
    <dd>
      <p><a href="/dl/ToolPlatform-1.0.0-win32-x86_64.zip">version for Windows</a></p>
    </dd>
  </dl>
</article>
