<div class="col">
  <div class="row g-0 position-relative <%= icon.eql?(@snapshot) ? "bg-warning" : "bg-light" %>">
    <div class="col-6 mb-0 p-4">
      <%= image_tag(icon.file.variant(:icon) || default_image_path, alt: "Snapshot", class: "img-fluid") %>
    </div>
    <div class="col-6 p-4 ps-0">
      <%= link_to icon.created_at.to_date, snapshot_path(icon), class: 'stretched-link' %><br>
      <%= link_to icon.created_at.to_fs(:time), snapshot_path(icon) %>
    </div>
  </div>
</div>
