@import "rails_bootstrap_forms";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=IBM+Plex+Sans:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

/* debugging start */
@media (max-width: 575.98px) { body.debug:before {content: "xs"} }
@media (min-width: 576px) and (max-width: 767.98px) { body.debug:before {content: "sm"} }
@media (min-width: 768px) and (max-width: 991.98px) { body.debug:before {content: "md"} }
@media (min-width: 992px) and (max-width: 1199.98px) { body.debug:before {content: "lg"} }
@media (min-width: 1200px) and (max-width: 1399.98px) { body.debug:before {content: "xl"} }
@media (min-width: 1400px) { body.debug:before {content: "xxl"} }

body.debug:before {
  color: #4c60d811;
  display: block;
  font-size: 10rem;
  font-variant: all-small-caps;
  font-weight: 700;
  line-height: 1;
  position: fixed;
  right: 3rem;
  top: 3rem;
  z-index: -1
}

.offcanvas {
  --bs-offcanvas-width: 30vw;
  min-width: 25rem;
}

/* debugging end */

:root {
  --bs-body-font-family: "IBM Plex Sans", sans-serif;
  --bs-font-monospace: "IBM Plex Mono", monospace;
  --bs-blue: #4c60d8;
}

.x-small {
  font-size: 0.8125rem;
}

body > main > .container {
  min-height: 85vh;
}

body > main > .container > article > header > h2 {
  font-weight: 700;
  color: var(--bs-blue);
  margin: 1rem 0 1.5rem;
}

body > nav.navbar,
body > header {
  background: var(--bs-blue);
  color: #ffffff;
}

i.bi-github {
  font-size: 2.5rem;
}

/*input:focus { outline: none; }*/
/*input:invalid { border-color: red; }*/
/*input:valid { border-color: green; }*/

article.calculator {
  .form-floating > label {
    padding: 0.5rem 0.25rem;
  }

  .form-control:not(:placeholder-shown) {
    padding-bottom: 0.5rem;
  }

  .col:not(:first-child) {
    text-align: right;
  }

  input, select { font-family: 'Share Tech Mono', monospace; font-size: 1.4rem; font-weight: 400; }

  .dec, .hex {
    input, select { font-size: 2.0rem; text-align: right; }
  }

  input.start[readonly] { background-color: #4c60d8; color: white; }
  input[readonly] { border: none; color: var(--bs-blue); outline: none; }

  #mtdparts { font-size: 1.75rem; word-break: break-all; }

  #offset { border-color: #000000; border-width: 3px; }
  #p1name { border-color: #ff0000; border-width: 3px; }
  #p2name { border-color: #ffa500; border-width: 3px; }
  #p3name { border-color: #00ff00; border-width: 3px; }
  #p4name { border-color: #0000ff; border-width: 3px; }
  #p5name { border-color: #808080; border-width: 3px; }

  .progress { height: 2rem;
    #pbp0 { background: #000000 }
    #pbp1 { background: #ff0000 }
    #pbp2 { background: #ffa500 }
    #pbp3 { background: #00ff00 }
    #pbp4 { background: #0000ff }
    #pbp5 { background: #808080 }
  }
}

.card-body {
  position: relative;
}

.social {
  position: absolute;
  right: 0.25rem;
  top: -0.75rem;
  text-align: right;

  a {
    background: white;
    border-radius: 50%;
    display: inline-flex;
    padding: 2px;

    img {
      height: 1.25rem;
      vertical-align: text-bottom;
    }
  }
}

ol.breadcrumb { font-size: 0.86rem; padding: 0.5rem 0; }

table.socs {
  .stage { width: 4rem; text-align: center; }
  .name { width: auto; }
  .url { width: 8rem; text-align: center;  img { height: 20px; }}
  .address { width: 9rem; text-align: right; }
  .doc { width: 14rem; }

  .stage.neq { background-color: #00000033 }
  .stage.hlp { background-color: #ffffff33 }
  .stage.rnd { background-color: #0000ff33 }
  .stage.wip { background-color: #00ffff33 }
  .stage.mvp { background-color: #ffff0033 }
  .stage.done { background-color: #00ff0033 }

  td.name a.anchor { display: none; }
  td.name:hover a.anchor { display: inline; }
}

.stage.neq { background-color: #000033 }
.stage.hlp { background-color: #ffff33 }
.stage.rnd { background-color: #00ff33 }
.stage.wip { background-color: #00ff33 }
.stage.mvp { background-color: #ff0033 }
.stage.done { background-color: #00ff33 }


label.required:after {
  content:"*";
  color: red;
  margin-left: 0.125rem;
}
